<h1>Games#new</h1>

<div class="flex-container">
  <div class="flex-item"><%= @grid %></div>
</div>

<div class="attempt">
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :grid, @grid %>
    <%= hidden_field_tag :start_time, @start_time %>
    <input type="text" name="attempt">
    <input type="submit">
  </form>
</div>

<p>Find me in app/views/games/new.html.erb</p>
