<h1>Games#score</h1>
<p><%= @word %></p>
<p>Time:<%= @result[:time] %></p>
<p>Score:<%= @result[:score] %></p>
<p><%= @result[:message] %></p>
<p>Find me in app/views/games/score.html.erb</p>

<!-- puts "Your word: #{attempt}"
puts "Time Taken to answer: #{@result[:time]}"
puts "Your score: #{@result[:score]}"
puts "Message: #{@result[:message]}" -->
